#content-container{
    margin-top: 15px;
}

.content{
    color: darkslategrey;
    box-shadow: 0px 15px 0px -10px rgba(0, 0, 0, 0.15);
    display:none;
}

#content-forside h2 {
    text-align:center;
}

#content-forside .button-group .button {
    margin-bottom: 5px;



}

#content-maddage table thead th:last-child , #content-maddage table tbody tr td:last-child  {
    text-align: center;
}

#content-maddage table tbody tr td img {
    height: 25px;
}
#content-maddage table tbody tr td .dropdown-pane  {
    width: 230px;
    padding-left: 0;
    padding-right: 0;
}


#content-maddage table tbody tr td .menu li {
    text-align: center;
}


#content-maddage table tbody tr {
    cursor: pointer;
}
#se-maddag select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-origin: unset;
    border:0;
    cursor: default;
    background-color:transparent;
}

#se-maddag ul.tabs {
    background-color:transparent;
    border: none;
}

#se-maddag .tabs-content {
    border: 0;
}

#se-maddag ul.tabs li {
    background-color:#e6e6e6;
    color: #000000;
    outline: none;
}

#se-maddag ul.tabs li.tabs-title > a[aria-selected='false'] {
    background: #e6e6e6;
    color: #000000;
    outline: none;
}

#se-maddag ul.tabs li.tabs-title > a[aria-selected='true'] {
    background: #ffffff;
    color: #000000;
    outline: none;
}

#content-status table tbody tr {
    cursor: pointer;
}

button.radius, .button.radius {
    border-radius: 3px; }
button.round, .button.round {
    border-radius: 1000px; }

