#content-container{
    margin-top: 15px;
}

.content{
    color: darkslategrey;
    box-shadow: 0px 15px 0px -10px rgba(0, 0, 0, 0.15);
    display:none;
}

#content-forside h2 {
    text-align:center;
}

#content-forside ul.tabs {
    background-color:transparent;
    border: none;
}


#content-forside ul.tabs li.tabs-title > a[aria-selected='false'] {
    background: #e6e6e6;
    color: #000000;
    outline: none;
}
#content-forside ul.tabs li.tabs-title > a[aria-selected='true'] {
    background: #ffffff;
    color: #000000;
    outline: none;
}

#content-forside .tabs-content {
    border: 0;
}

#content-forside .tabs-panel {
    padding: 0;
}

#content-forside .tabs-panel table {
    margin: 0;
}
#opvaskere {
    padding: 0;
}
#opvaskere table tbody tr {
    border-bottom: none;
    color: #8a8a8a;
}

#opvaskere table tbody tr:nth-child(-n+3){
    border-bottom: dashed;
    border-bottom-color: #8a8a8a;
    color: #0a0a0a;
}
#opvaskere table tbody tr:nth-child(-n+2){
    border-bottom: none;
}






#content-maddage table thead th:last-child , #content-maddage table tbody tr td:last-child  {
    text-align: center;
}

#content-maddage table tbody tr td img {
    height: 25px;
}
#content-maddage table tbody tr td .dropdown-pane  {
    width: 230px;
    padding-left: 0;
    padding-right: 0;
}


#content-maddage table tbody tr td .menu li {
    text-align: center;
}


#content-maddage table tbody tr {
    cursor: pointer;
}

#se-maddag #dato-se-maddag{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#se-maddag #attendance-se-maddag {
    height:25px;
}

#se-maddag input[type='text'], #se-maddag select {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: auto;
}

#se-maddag input[type='text']:disabled, #se-maddag select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-origin: unset;
    border:0;
    cursor: default;
    background-color:transparent;
    box-shadow:none;
}

#se-maddag ul.tabs {
    background-color:transparent;
    border: none;
}


#se-maddag ul.tabs li {
    background-color:#e6e6e6;
    color: #000000;
    outline: none;
}

#se-maddag ul.tabs li.tabs-title > a[aria-selected='false'] {
    background: #e6e6e6;
    color: #000000;
    outline: none;
}

#se-maddag ul.tabs li.tabs-title > a[aria-selected='true'] {
    background: #ffffff;
    color: #000000;
    outline: none;
}


#se-maddag .tabs-content {
    border: 0;
}

#se-maddag .tabs-panel {
    padding: 0;
}

#se-maddag .tabs-panel table {
    margin: 0;
}


#se-maddag .tabs-panel table tbody {
    border-top:0;
}

#create-maddag {
    display:none;
}


#content-status table tbody tr {
    cursor: pointer;
}

button.radius, .button.radius {
    border-radius: 3px; }
button.round, .button.round {
    border-radius: 1000px; }

.callout.primary {
    background-color: #ffffff;
    color: #0a0a0a;
}

.callout.secondary {
    background-color: #f8f8f8;
    color: #0a0a0a;
}

.callout {
    border: none;
}

h2{
    font-family: 'Quicksand', sans-serif;
}
