.content {
    display:none;
}
#forside-content {
    display: block;
}

.felt p {
    font-weight: bold;
}
.felt p span {
    font-weight: normal;
}

#statuslist {
    width: 100%;
}
#statuslist tr:first-child) {
    width: 50%;
}
#statuslist tr:nth-child(even) {
    background-color: #f2f2f2
}